body {
  background-color: #DEF;
  color: #000;
  font-family: Verdana;
  font-size: 16px;
  line-height: 1.4;
  max-width: 800px;
  margin: 1em auto;
  padding: 1em;
  text-align: justify;
}
/*
a:link { color: #ace; }
a:visited { color: #8ae; }
a:hover { color: #eee; }
a:active { color: #aaa; }
*/
/* Enforce a max width for images */
img { max-width: 800px; }
div.imgleft img {
    float: left;
    margin: 8px 8px 8px 8px;
}
div {
    clear: left;
}

/* Code blocks */
script[type="text/plain"] { 
  display: block;
  font-family: monospace;
  font-size: 14px;
  background-color: #CDF;
  white-space: pre-wrap;
}

/* Post title & date */
div.post-head {
  line-height: 1.2;
}
div.post-head .title {
  font-size: 24px;
}
div.post-head .date {
  font-size: 14px;
  color: #444;
}

/* Wrap 2 columns side by side */
div.columns { overflow: auto; }
div.columns #1 #2 {
  float: left;
  width: 49%
}
div.columns img { width: 49%; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #CDF;
  color: #000;
  text-align: center;
}
